#fake-input {
    border: 1px solid grey;
    border-radius: 1px;
    width: 20rem;
    height: 2rem;
    box-shadow: inset 0 0 10px #6b6a6a;
    background: rgb(233, 232, 232);
    display: flex;
    justify-content: center;
  }